/* Reset box sizing and margins */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: Helvetica, sans-serif;
    color: white;
}

.container {
    position: relative;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.midden {
    display: grid;
    place-items: center;
    position: absolute;
    height: 650px;
    width: 650px;
    border-radius: 50%;
    background-color: gold;
}

.binnen {
    display: grid;
    place-items: center;
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.inner-circle_2 {
    position: absolute;
    height: 450px;
    width: 450px;
    background-color: white;
    border-radius: 50%;
}

.inner-circle_3 {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
}

.binnen .segment {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    clip-path: polygon(50% 50%, 100% 21.1%, 100% 100%, 50% 100%);
    /* top left - top right - bottom right - bottom left */
}

.midden .segment {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    /* top left - top right - bottom right - bottom left */
}

/* MIDDEN */

.midden .pink {
    background-color: pink;
    transition: transform linear 0.07s;
}

.midden .pink h2 {
    position: absolute;
    top: 75%;
    transform: translate(100%, 50%) rotate(-45deg);
    right: 25%;
}

.midden .pink:hover {
    transform: scale(1.05);
}

.midden .orange {
    background-color: orange;
    transform: rotate(90deg);
    transition: transform linear 0.07s;
}

.midden .orange h2 {
    position: absolute;
    top: 75%;
    transform: translate(100%, 50%) rotate(-45deg);
    right: 25%;
}

.midden .orange:hover {
    transform: rotate(90deg) scale(1.05);
}

.midden .purple {
    background-color: purple;
    transform: rotate(180deg);
    transition: transform linear 0.07s;
}

.midden .purple h2 {
    position: absolute;
    top: 75%;
    transform: translate(100%, 50%) rotate(135deg);
    right: 25%;
}

.midden .purple:hover {
    transform: rotate(180deg) scale(1.05);
}

.midden .blue {
    background-color: blue;
    transform: rotate(270deg);
    transition: transform linear 0.07s;
}

.midden .blue h2 {
    position: absolute;
    top: 75%;
    transform: translate(100%, 50%) rotate(135deg);
    right: 25%;
}

.midden .blue:hover {
    transform: rotate(270deg) scale(1.05);
}

/* BINNEN */

.binnen .yellow {
    background-color: yellow;
    transition: transform linear 0.07s;
}

.binnen .yellow:hover {
    transform: scale(1.05);
}

.binnen .red {
    background-color: red;
    transform: rotate(120deg);
    transition: transform linear 0.07s;
}

.binnen .red:hover {
    transform: rotate(120deg) scale(1.05);
}

.binnen .green {
    background-color: green;
    transform: rotate(240deg);
    transition: transform linear 0.07s;
}

.binnen .green:hover {
    transform: rotate(240deg) scale(1.05);
}