/* Verbeterinitiatief 1 */
#Servicepunt.VI-selected {
    background-color: #ff583337;
}

#Servicepunt.VI-selected::before {
    background-color: #FF5733;
}

/* Verbeterinitiatief 2 */
#InfoPakketJongere.VI-selected {
    background-color: #3ed45e34;
}

#InfoPakketJongere.VI-selected::before {
    background-color: #3ed45f;
}

/* Verbeterinitiatief 3 */
#Steffie.VI-selected {
    background-color: #5d52d439;
}

#Steffie.VI-selected::before {
    background-color: #5d52d4;
}

/* Verbeterinitiatief 4 */
#Masterclass.VI-selected {
    background-color: #60a1f02b;
}

#Masterclass.VI-selected::before {
    background-color: #60a1f0;
}

/* Verbeterinitiatief 5 */
#ContactGegevens.VI-selected {
    background-color: #f7d83a31;
}

#ContactGegevens.VI-selected::before {
    background-color: #f7d83a;
}

/* Verbeterinitiatief 6 */
#VastAanspreekpunt.VI-selected {
    background-color: #f7863a2a;
}

#VastAanspreekpunt.VI-selected::before {
    background-color: #f7863a;
}

/* Verbeterinitiatief 7 */
#GefeliciteerdMail.VI-selected {
    background-color: #50e0c138;
}

#GefeliciteerdMail.VI-selected::before {
    background-color: #5bbba6;
}

/* Verbeterinitiatief 8 */
#OnderdelenLandingspagina.VI-selected {
    background-color: #de5edc2f;
}

#OnderdelenLandingspagina.VI-selected::before {
    background-color: #de5edc;
}

/* Verbeterinitiatief 9 */
#VSOpro.VI-selected {
    background-color: #7310183e;
}

#VSOpro.VI-selected::before {
    background-color: #731018;
}

/* Verbeterinitiatief 10 */
#VRIMcommunicatie.VI-selected {
    background-color: #39bee334;
}

#VRIMcommunicatie.VI-selected::before {
    background-color: #39bee3;
}
  